@import './reset.css';
@import './fonts.css';

html {
  overflow-x: hidden;
  width: 100%;

  section {
    padding: 5vw;
  }
}

.is-mobile {
  position: relative;
  overflow-x: hidden;
}

main.is-mobile {
  padding-bottom: 5vw;
}

@media (max-width: 767px) {
  .is-desktop {
    display: none;
  }

  .is-mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .is-desktop {
    display: block;
  }

  .is-mobile {
    display: none;
  }
}